#root, body, html{
  min-height: 100%;
  height: 100%;
  background-color:black;
  color: white;
}

.app{
  min-height: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  background-color: black;
  border: 1px solid white;
  padding: 2rem;
}

.pepepoint{
  width: 2rem;
  vertical-align: middle;
}

.cogger{
  margin: auto;
  display: block;
}